<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<footer class="fixed-bottom" style="background-color:#26272b; padding-top: -25%;">
    <div class="container" style="text-align:center; padding-top:2%;">
        <section class="text-center">
            <!--
            <form action="#" th:action="@{/subscribe}" method="post" th:object="${subscriber}">
                <input type="email" name="email" placeholder="Enter Your Email" style="width: 250px;">
                <button type="submit" class="btn btn-danger">Subscribe  <i class="fa fa-envelope"></i></button>
            </form>
            <span class="mt-3" th:text="${mensagem}" style=" font-color:#FFFFFF; "></span>
            -->
        </section>
    </div>
    <div class="container" style="text-align:center">
        <div class="text-center" style="text-align:center; margin-top:2%;">
            <H5 class="copyright-text" style="margin-bottom:1%; color: white;">THANKS FOR VISITING</H5>
            <img src="../img/coracao.png">
        </div>
    </div>
</footer>
</html>