<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Milson Antonio - Java Software Engineer</title>
</head>

<section layout:fragment="content" class="container-fluid" id="articles" style="margin-top: 2%; padding-bottom:10%;">

            <div class="container-fluid" style="margin-bottom: 2%; text-align: right; padding-right: 4%" >
                <div class="" style="text-align: right; ">
                    <form action="#" th:action="@{/search}" method="get" th:object="${Search}">
                        <label>Search in the site:</label>
                        <input type="text"  name="searchedWord">
                        <button type="submit">Search</button>
                    </form>
                    <h6 th:text="${searchResult}"></h6>
                </div>
            </div>

    <div class="container">
            <div class="row">
                <div class="col-md-9">
                <tr th:each="article : ${articleList}">
                    <div class="card" style="background-color:#DCDCDC; margin-bottom:3%; padding-left:1%; padding-right:1%;">
                        <div class="card bgc-white my-2 py-3 shadow-sm" style="text-align: left; padding-left:3%; padding-right:3%;  padding-bottom:1%">

                            <a class="" th:href="@{article/{fileName}(fileName=${article.fileName})}">
                                <h4 th:text="${article.title}"></h4>
                            </a>

                            <small class="">
                                <span th:each="tag : ${article.listTags}"> <a th:href="#{tag}" th:text="${tag}"></a></span>
                            </small>

                            <div class="" style="overflow: hidden; text-overflow: ellipsis; display:
                            -webkit-box; -webkit-line-clamp: 4; line-clamp: 4; -webkit-box-orient: vertical; text-align: justify;">
                                <p th:text="${article.description}"></p>
                            </div>
                        </div>
                    </div>
                </tr>

                <!-- pagination-->
                    <div th:if = "${totalPages > 1}">
                        <div class = "row col-sm-10">
                            <div class = "col-sm-2">
                                Total Articles: [[${totalItems}]]
                            </div>
                            <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
                            </div>
                            <div class = "col-sm-1">
                                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
                                <span th:unless="${currentPage < totalPages}">Next</span>
                            </div>

                            <div class="col-sm-1">
                                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a>
                                <span th:unless="${currentPage < totalPages}">Last</span>
                            </div>
                        </div>
                    </div>
                <!--end pagination-->
                </div>

                <!-- google adds -->
                <div class="col-md-3">

                </div>
            </div>
    </div>
</section>
</html>