<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Milson Antonio - Java Software Engineer</title>
</head>

<section layout:fragment="content" class="container" id="articles" style="margin-top: 18%; padding-bottom:10%;">
    <div class="container" style="background-color:#DCDCDC;"></div>
    <div class="container" style="padding-top:2%; padding-bottom:2%; background-color:#DCDCDC;">
        <div class="col-sm-12">
            <div class="title-box text-center">
                <h3 class="title-a" style="font-weight: bold; font-size: 300%;">ARTICLES</h3>
            </div>
        </div>
    <div class="col">
        <tr th:each="article : ${articleList.page}">
            <div class="mt-1">
                <div class="bgc-white my-2 py-3 shadow-sm">
                        <div style="text-align: left; margin-left:5%; margin-bottom:1%">
                            <a class="" th:href="@{article/{fileName}(fileName=${article.fileName})}">
                                <div>
                                    <h4 th:text="${article.title}"></h4>
                                </div>
                            </a>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <p style="text-align: justify; margin-left: 5%; margin-right: 7%;" th:text="${article.description}"></p>
                            </div>
                        </div>
                    </div>
            </div>
        </tr>
    </div>

        <!-- pagination-->
        <nav aria-label="Page navigation" class="paging justify-content-center" >
            <ul class="pagination justify-content-center" th:if="${articleList.page.totalPages > 1}">
                <li class="page-item" th:classappend="${!articleList.paging.isPrevEnabled()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/?pageNumber=' + ${articleList.paging.pageNumber - 1}}"
                       tabindex="-1">Previous</a>
                </li>
                <th:block th:each="item : ${articleList.paging.getItems()}">
                    <li class="page-item" th:classappend="${item.index == articleList.paging.pageNumber? 'active' : ''}"
                        th:if="${item.pageItemType.name() == 'PAGE'}">
                        <a class="page-link" th:href="@{'/?pageNumber=' + ${item.index}}"
                           th:text="${item.index}"></a>
                    </li>
                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                        <a class="page-link" href="#">...</a>
                    </li>
                </th:block>
                <li class="page-item" th:classappend="${!articleList.paging.isNextEnabled()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/?pageNumber=' + ${articleList.paging.pageNumber + 1}}">Next</a>
                </li>
            </ul>
        </nav>
        <!--end pagination-->
    </div>
    </div>
</section>

</section>
</html>