<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Milson Antonio - Java Software Engineer</title>
</head>

<section layout:fragment="content" style="padding-top:20%; padding-bottom:10%; background-color:#DCDCDC;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card my-3">
                    <form action="#" th:action="@{/login}" method="post" th:object="${user}" class="card-body cardbody-color p-lg-5">
                        <div class="text-center">
                            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                                 width="150px" alt="profile">
                        </div>
                        <div class="mb-4">
                            <label>User Name</label>
                            <input type="text" class="form-control" name="userName" placeholder="User Name">
                        </div>
                        <div class="mb-4">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="**********">
                        </div>

                        <div class="mt-4 text-center">
                            <button type="submit" class="btn btn-primary" style="width: 178px;"> Login  </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</html>
