<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Milson Antonio - Java Software Engineer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.0/css/all.css} "/>

    <link th:href="@{/styles/imagemalogoefect.css}" rel="stylesheet" />

    <link th:href="@{/styles/navbar.css}" rel="stylesheet" />

    <link th:href="@{/styles/articlecards.css}" rel="stylesheet" />

    <script type="text/javascript" th:src="@{/js/typewritereffect.js}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1520994796307461"
            crossorigin="anonymous"></script>

    <!-- Include Bootstrap CSS and Javascript Files
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    -->

</head>
<body>

<!-- style="padding-left: 15%" -->

<!-- init nav-bar-->

<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" style="background-color: #737373">
    <div class="container">

        <!-- init ma-log -->
        <div class="container" style="padding-left: 15%">
            <div class="hover01 column">
                <a class="navbar-brand js-scroll" href="/">
                    <figure>
                        <img src="img/ma-logo.png">
                    </figure>
                </a>
            </div>
        </div>
        <!-- end ma-log -->

        <div class="navbar-collapse collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll active" href="/" style="font-weight: bold; font-size: 110%;">HOME</a>
                </li>

                <!--
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#about" style="font-weight: bold; font-size: 110%;">ABOUT</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#blog" style="color:font-weight: bold; font-size: 110%;">BLOG</a>
                </li>
                -->

                <li class="nav-item" style="margin-left:25%; bold; font-size: 110%;">
                    <a class="nav-link js-scroll" href="#bolsas">BOLSAS</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- init flag language  -->
    <div class="languages" style="padding-right: 1%; padding-left: 10%;">
        <div class="flag-deutsch">
            <a href="#home">
                <img src="img/deutsch.png">
            </a>
        </div>
        <div class="flag-usa">
            <a href="#home">
                <img src="img/usa.png">
            </a>
        </div>
    </div>
    <!-- end of flag language -->
</nav>
<!-- end nav-bar-->


<!-- start about -->
<section id="about" style="padding-top:14%; padding-bottom:8%; background-color:#DCDCDC;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card my-3">
                    <form action="#" th:action="@{/login}" method="post" th:object="${user}" class="card-body cardbody-color p-lg-5">
                        <div class="text-center">
                            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                                 width="150px" alt="profile">
                        </div>
                        <div class="mb-4">
                            <label>User Name</label>
                            <input type="text" class="form-control" name="userName" placeholder="User Name">
                        </div>
                        <div class="mb-4">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="**********">
                        </div>

                        <div class="mt-4 text-center">
                            <button type="submit" class="btn btn-primary" style="width: 178px;"> Login  </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





</section>
<!-- termina aqui about -->




<footer class="site-footer fixed-bottom">
    </div>
    <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Thanks for visiting - Milson</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">

                    <li><a class="hover01 column" href="#">
                        <figure>
                            <img src="img/linkedin.png">
                        </figure>
                    </a></li>

                    <li><a class="hover01 column" href="#">
                        <figure>
                            <img src="img/youtube.png">
                        </figure>
                    </a></li>

                    <li><a class="hover01 column" href="#">
                        <figure>
                            <img src="img/instagram.png">
                        </figure>
                    </a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>





</body>