<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Milson Antonio - Java Software Engineer</title>
</head>

<section layout:fragment="content" style="padding-top:2%; padding-bottom:20%; background-color:#DCDCDC;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card my-3">


                    <form action="#" th:action="@{/login}" method="post" class="card-body cardbody-color p-lg-5">

                    <!-- error message -->
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid username or password.</div>
                    </div>

                    <!-- logout message -->
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">You have been logged out.</div>
                    </div>

                        <div class="text-center">
                            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                                 width="150px" alt="profile">
                        </div>
                        <div class="mb-4">
                            <label>Enter Email ID</label>
                            <input type="text" class = "form-control" id ="username" name = "username"
                                   placeholder="Enter Email ID" autofocus="autofocus">
                        </div>

                        <div class="mb-4">
                            <label>Password</label>
                             <input type="password" id="password" name="password" class="form-control" placeholder="**************" />
                        </div>

                        <div class="mt-4 text-center">
                            <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Log In" style="width: 178px;" />
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
</html>
