<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Milson Antonio - Java Software Engineer</title>
</head>

<section layout:fragment="content" style=" margin-bottom: 2%">
    <div class="container" style="text-align: right; margin-top: 14%">
        <h5>Welcome, <a href="/profile" th:text="${userName}"></a></h5>
            <a href="/admin" class="col-md-1" style="text-align: right; margin-right: 1%" >Back</a>
            <a href="/logout" class="col-md-1" style="text-align: right;">Logout</a>
    </div>


    <div class=" container panel panel-default" style=" margin-top: 2%">
        <div class="panel-heading" style="background-color: silver;">
            <h4 class="panel-title aw-titulo-panel"style="background-color: silver; padding-bottom: 2%; padding-top: 1%; margin-left: 1%;">New Article </h4>
        </div>
        <div class="panel-heading" th:replace="mensagemok"></div>
        <div class="panel-heading" th:replace="mensagemerro"></div>


        <div class="container">
            <form action="#" th:action="@{/add_new_article}" method="post" th:object="${article}">
                <div class="container">
                <div class="row">
                <div class="col-md-26 mt-5">
                <div class="card">
                        <article class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Title</label>
                                        <input type="text" class="form-control" name="title" placeholder="Title">
                                    </div>
                                    <div class="col-md-12 mt-2">
                                        <label>Description</label>
                                        <textarea class="form-control" rows="4" name="description" placeholder="Description"></textarea>
                                    </div>
                                    <div class="col-md-12 mt-2">
                                        <label>Tags</label>
                                        <input type="text" class="form-control" name="tags" th:value="${defaulTagsList}">
                                    </div>

                                    <div class="col-md-6 mb-2 mt-2">
                                        <label>Source Code</label>
                                        <input type="text" class="form-control" name="sourceCode" placeholder="Source Code">
                                    </div>
                                    <div class="col-md-6 mb-2 mt-2">
                                        <label>Live Link</label>
                                        <input type="text" class="form-control" name="liveLink" placeholder="Live Link">
                                    </div>
                                </div>
                            </div>

                    </article>
                </div>
                </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary" style="width: 178px; margin-left: 5%;">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</html>>