<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Milson Antonio - Java Software Engineer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.0/css/all.css} "/>

    <link th:href="@{/styles/imagemalogoefect.css}" rel="stylesheet" />

    <link th:href="@{/styles/navbar.css}" rel="stylesheet" />

    <link th:href="@{/styles/articlecards.css}" rel="stylesheet" />

    <script type="text/javascript" th:src="@{/js/typewritereffect.js}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />


    <!-- Include Bootstrap CSS and Javascript Files
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    -->

</head>
<body>

<!-- style="padding-left: 15%" -->

<!-- init nav-bar-->

<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" style="background-color: #737373">
    <div class="container">

        <!-- init ma-log -->
        <div class="container" style="padding-left: 15%">
            <div class="hover01 column">
                <a class="navbar-brand js-scroll" href="index.html">
                    <figure>
                        <img src="img/ma-logo.png">
                    </figure>
                </a>
            </div>
        </div>
        <!-- end ma-log -->

        <div class="navbar-collapse collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll active" href="#home" style="font-weight: bold; font-size: 110%;">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#about" style="font-weight: bold; font-size: 110%;">ABOUT</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#blog" style="color:font-weight: bold; font-size: 110%;">BLOG</a>
                </li>

                <li class="nav-item" style="margin-left:25%; bold; font-size: 110%;">
                    <a class="nav-link js-scroll" href="#bolsas">BOLSAS</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- init flag language  -->
    <div class="languages" style="padding-right: 1%; padding-left: 10%;">
        <div class="flag-deutsch">
            <a href="#home">
                <img src="img/deutsch.png">
            </a>
        </div>
        <div class="flag-usa">
            <a href="#home">
                <img src="img/usa.png">
            </a>
        </div>
    </div>
    <!-- end of flag language -->
</nav>
<!-- end nav-bar-->


<!-- start about -->
<section id="about" class="about-mf sect-pt4 route" style="padding-top:17%; padding-bottom:10%; background-color:#DCDCDC;">
    <div class="container">
        <div class="card">
            <div class="card-body" style="padding:4%">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">

                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="img/milson.png" class="img-fluid rounded b-shadow-a">
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-7" style="padding-top:4%">
                                    <div class="about-info">
                                        <p><span class="title-s" style="font-weight: bold;">Email: </span> <span>milson.milson@outlook.com</span></p>
                                        <p><span class="title-s" style="font-weight: bold;">Phone: </span> <span>(+49) 1521 2816 680</span></p>
                                        <p><span class="title-s" style="font-weight: bold;">Area: </span> <span>Germany, Bayern - Bamberg</span></p>
                                    </div>

                                    <!-- start images -->
                                    <div class="container" style=" text-align: left; margin-top: 30px; width:90%; padding-right: 28%" >
                                        <div class="row">
                                            <div class="col">
                                                <a href="https://github.com/Milsondepaz?tab=repositories" target="_blank">
                                                    <img src="img/github.png" style="width:60%;">
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="https://gitlab.com/milsondev" target="_blank">
                                                    <img src="img/gitlab.png" style="width:60%;">
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="https://www.linkedin.com/in/milson-ant%C3%B3nio/" target="_blank">
                                                    <img src="img/linkedin.png" style="width:60%;">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end images -->

                                </div>
                            </div>


                        </div>

                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0" style="padding-bottom: 1%">
                                <div class="title-box-2">
                                    <h2 class="title-left">About me</h2>
                                </div>
                                <p style="text-align: justify">
                                    Hello, my name is Milson!</p>
                                <p style="text-align: justify">I'm Software Engineer and I enjoy working with Java and Spring ecosystem, I find it as perfect match technologies. I'm  BsC in Computer Science at <a href="https://www.furb.br" target="_blank">FURB</a> in Brazil
                                    and studied Masters in Computer Engineering at <a href="https://www.ujaen.es" target="_blank">Universidad de Jaén</a>, in Spain.
                                    I use my blog as a hobby to share subjects, articles and projects related to Programming and IoT stuff.
                                </p>
                                <p style="text-align: justify">
                                    I also have another site with academic focus, I go after Universities, International Office looking for academic opportunities, like scholarships to share with students around the world.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- termina aqui about -->


<footer class="site-footer fixed-bottom">
    </div>
    <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Thanks for visiting - Milson</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">

                    <li><a class="hover01 column" href="#">
                        <figure>
                            <img src="img/linkedin.png">
                        </figure>
                    </a></li>

                    <li><a class="hover01 column" href="#">
                        <figure>
                            <img src="img/youtube.png">
                        </figure>
                    </a></li>

                    <li><a class="hover01 column" href="#">
                        <figure>
                            <img src="img/instagram.png">
                        </figure>
                    </a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>





</body>