<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2}">
<head>
    <title>Milson Antonio - Java Software Engineer</title>
</head>

<!--  style=" background-color:#DCDCDC; -->

<section layout:fragment="content2" class="about-mf sect-pt4 route" style=" padding-top: 3%; margin-bottom: 10%; ">
    <div class="container" style=" background-color:#DCDCDC; padding-top: 1%; padding-bottom: 1%; border-radius: .175rem;">
        <div class="card" >
            <div class="card-body">
                <div class="col-sm-12">
                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">

                                    <div class="col-sm-6 col-md-5">
                                        <div class="about-img">
                                            <img src="../img/milson.png" class="img-fluid rounded b-shadow-a">
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-7" style="padding-top:4%">
                                        <div class="about-info">
                                            <p><span class="title-s" style="font-weight: bold;">Email: </span> <span th:text="${user.email}"></span></p>
                                            <p><span class="title-s" style="font-weight: bold;">Phone: </span> <span th:text="${user.phone}"></span></p>
                                        </div>

                                        <div class="container" style=" text-align: left; margin-top: 30px; width:90%; padding-right: 28%" >
                                            <div class="row">
                                                <div class="col">
                                                    <a th:href="${user.githubLink}"  target="_blank">
                                                        <img src="../img/github.png" style="width:60%;">
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <a th:href="${user.gitlabLink}" target="_blank">
                                                        <img src="../img/gitlab.png" style="width:60%;">
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <a th:href="${user.linkedinLink}"  target="_blank">
                                                        <img src="../img/linkedin.png" style="width:60%;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0" style="padding-bottom: 1%">
                                    <div class="title-box-2">
                                        <h2 class="title-left">About me</h2>
                                    </div>
                                    <p style="text-align: justify" th:text="${user.introductionOneParagraph}"></p>
                                    <p style="text-align: justify" th:text="${user.moreAboutTreeParagraph}"></p>
                                    <p style="text-align: justify" th:text="${user.conclusionTreeParagraph}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>

