<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.0/css/all.css} "/>
    <link href="https://twitter.com/intent/tweet"/>

    <link th:href="@{/styles/imagemalogoefect.css}" rel="stylesheet" />
    <link th:href="@{/styles/code-style.css}" rel="stylesheet" />
    <link th:href="@{/styles/navbar.css}" rel="stylesheet" />
    <link th:href="@{/styles/card.css}" rel="stylesheet" />

    <link th:href="@{/styles/prism.css}" rel="stylesheet" />
    <link th:href="@{/styles/share-on-social-media.css}" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <title th:text="${article.title}"></title>

</head>
<body>

<!--
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" style="background-color: #737373">
    <div class="container">
        <div class="container" style="padding-left: 15%">
            <div class="hover01 column">
                <a class="navbar-brand js-scroll" href="/">
                    <figure>
                        <img src="../img/ma-logo.png">
                    </figure>
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll active" href="#home" style="font-weight: bold; font-size: 110%;">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#about" style="font-weight: bold; font-size: 110%;">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#articles" style="color:font-weight: bold; font-size: 110%;">ARTICLES</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="languages" style="padding-right: 1%; padding-left: 10%;">
        <div class="flag-angola">
            <a href="#home">
                <img src="../img/angola.png">
            </a>
        </div>
    </div>
</nav>
-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#737373;">
    <div class="container">
        <a href="../" class="navbar-brand">
            <figure>
                <img src="../img/ma-logo.png">
            </figure>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll active" href="#home" style="color: white; font-weight: bold; font-size: 110%;">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#about" style="color: white; font-weight: bold; font-size: 110%;">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#articles" style="color: white; font-weight: bold; font-size: 110%;">ARTICLES</a>
                </li>
            </ul>
        </div>
        <div class="flag-angola">
            <a href="#home">
                <img src="../img/angola.png">
            </a>
        </div>
    </div>
</nav>

<section  style=" margin-bottom: 11%; padding-top:2%;">
    <div class="container">
        <div class="container">

            <div class="row" style=" padding-bottom: 2%; padding-top:2%;">
                    <h1 class="col-md-8" th:text="${article.title}"></h1>
                <small class="">Tags:
                    <tr th:each="tag : ${article.listTags}">
                        <a href="#" th:text="${tag}" style="margin-right:2%;" >
                        </a>
                    </tr>
                </small>
            </div>

            <div class="row" style=" padding-bottom: 1%;">

                <div class="">
                    <small>Published on <span th:text="${article.fortmadetData}" style=" font-weight: bold; margin-right: 20px; "></span>
                        Views <span th:text="${article.views}" style=" font-weight: bold; margin-right: 20px;"></span>
                        Likes <span th:text="${article.likes}" style=" font-weight: bold; "></span>
                    </small>
                </div>
            </div>

            <div class="row col-md-10"  style=" padding-bottom: 2%; padding-top:2%;">
                        <img src="../img/img-article.png" height="400" width="50" style="border-radius: 2%;" >
            </div>



            <div class="row" style=" padding-bottom: 2%; padding-top:2%;">

                <div class="row">
                    <div class="col-md-10" >
                        <hr>
                    </div>
                </div>

                <div class="col-sm-6 col-md-1">
                    <img src="../img/milson.png" width= "70" height="70"; style="border-radius: 50%; border:1px groove #545565;">
                </div>

                <div class="col-sm-6 col-md-7">
                    <small><a th:href="@{../profile/{author}(author=${article.author})}" th:text="${article.author}"></a> </small>
                   <div class="row" style="padding-bottom: 1%; padding-top:1%;">
                       <small class="col">
                           <h6 style=" font-weight: bold; ">Java Jr. Software Engineer</h6>
                       </small>
                   </div>
                </div>

                <div class="row">
                    <div class="col-md-10" >
                        <hr>
                        <div class="social-btns" id="social-network" style="text-align: center; margin-top: 60px;">
                            <a class="btn facebook" href="" data-toggle="tooltip" title="Share on Facebook" ><i class="fa fa-facebook"></i></a>
                            <a class="btn twitter" href="" data-toggle="tooltip" title="Share on Twitter" ><i class="fa fa-twitter"></i></a>
                            <a class="btn whatsapp" href="" data-toggle="tooltip" title="Share on Whatsapp" ><i class="fa fa-whatsapp"></i></a>
                            <a class="btn linkedin" href="" data-toggle="tooltip" title="Share on LinkeIn" ><i class="fa fa-linkedin"></i></a>
                            <a class="btn copyLink" href="" data-toggle="tooltip" title="Copy Link" data-placement="bottom"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-10" style="margin-right:8%;">
                <p> <b>Resumo:</b> O termo Internet das Coisas (Internet of Things – IoT) vem sendo adotado como a convergência de
                    várias tecnologias de automação tais como sistemas embarcados, sistemas de comunicação e hardware e que
                    possibilita a integração de dispositivos, sensores e atuadores à rede internet. O DC Alerta é um sistema que
                    visa permitir o monitoramento da temperatura e da umidade de Data Centers e alertar aos usuários quando
                    uma destas grandezas encontrar-se fora dos limites estabelecidos, garantindo que o ambiente monitorado se
                    mantenha em condições adequadas. Foi desenvolvido utilizando o microcontrolador Arduino e os sensores
                    de temperatura e umidade DHT11. Além disso, uma aplicação de monitoramento foi desenvolvida em versão
                    Android. Como resultados dos testes, verificou-se a viabilidade na adoção da tecnologia para monitoramento
                    de ambientes confinados.
                </p>

                <p> Palavras-chave: <b>IoT. Monitoramento de Temperatura e Umidade. Data Center.</b></p>

                </br>
                <h3><b></b>INTRODUÇÃO</b></h3>

                <p>A chamada Internet das Coisas é um fenômeno que vem sendo capitaneado pela rápida popularização da Internet
                    e da possibilidade de interconectar objetos diversos os quais possuem capacidade de disponibilizarem informações a
                    respeito do seu funcionamento (SATO, 2015). Conforme Patel, et., al. (2016), IoT pode ser classificado em três categorias
                    as quais interagem através da internet: “pessoas conectadas a pessoas, pessoas conectadas a máquinas (ou coisas) e coisas
                    (ou máquinas) conectadas a coisas (ou máquinas)”</p>

                <p>Existem diversas situações onde é estritamente necessário o monitoramento do ambiente, como por exemplo em
                    data centers. A proliferação de soluções de tecnologias comerciais permite utilizar um único dispositivo para controlar
                    uma série de dispositivos eletrônicos e appliances. Estas soluções concentram-se primariamente em monitoramento
                    ambiental e gerenciamento de consumo de energia elétrica (VERMESAN; FRIESS; 2014). Uma das ferramentas
                    comerciais utilizadas para monitoramento de um conjunto de sensores é o PRTG (XANDÓ; 2018).
                </p>
                <p>
                    A partir deste contexto, o artigo descreve o desenvolvimento de um protótipo de um sistema de monitoramento
                    de variáveis ambientais voltados para data centers denominado de DC Alerta. Este projeto foi motivado pela provocação
                    de uma grande empresa da região de Blumenau a qual resultou numa primeira fase em um pequeno protótipo de prova de
                    conceito apresentado nas disciplinas de Projeto de Software II e posteriormente em TCC I do curso de Ciência da
                    Computação da FURB. Agora expandido, o conjunto de funcionalidades elencadas naquele protótipo foi aprimorado de
                    forma a disponibilizar-se uma solução baseada em Internet das Coisas para o monitoramento ambiental de data centers
                    utilizando Arduino como plataforma de coleta de dados.
                </p>

                </br>
                <h3><b></b>FUNDAMENTAÇÃO TEÓRICA</b></h3>
                <p>
                    A abrangência do termo IoT envolve não só a área de sensores e atuadores, mas toda a gama de equipamentos
                    que utilizam o protocolo TCP/IP (Transmission Control Protocol/Internet Protocol) e as tecnologias associadas a três
                    eixos principais de análise: visão orientada a coisas, visão orientada a internet e visão orientada a semântica dos dados
                    (SÔNEGO; 2016). A Figura 1 apresenta este modelo agrupando as tecnologias em cada um dos grupos.
                </p>

                <p>
                    Uma das áreas que se relaciona à aplicação da Internet das Coisas é a área de monitoramento energético e
                    ambiental, o que sugere um uso adequado e consciente dos recursos naturais (SÔNEGO; MARCELINO; GRUBER;
                    2016). E uma das áreas que requer constante monitoramento é a área de data centers que nada mais são do que
                    “equipamentos eletrônicos utilizados para processamento de dados (servidores), armazenamento de dados (equipamentos
                    de armazenamento) e comunicações (equipamentos de rede) (GENG, 2015).
                </p>

                <p>
                    Coletivamente, estes equipamentos processam, armazenam e transmitem dados digitais e utilizam para isto
                    equipamentos especializados de conversão e backup de energia para manter uma potência confiável e de alta qualidade,
                    bem como equipamentos de controle ambiental para manter a temperatura e umidade adequadas para os equipamentos de
                    tecnologia da informação e comunicação. (GENG, 2015, p. 4, tradução nossa).
                </p>


                </br>
                <h3><b></b>MICROCONTROLADOR ARDUÍNO</b></h3>
                <p>
                    O Arduino é um microcontrolador de código aberto que pode ser facilmente programado, apagado e
                    reprogramado a qualquer instante. Introduzido em 2005, a plataforma Arduino foi projetada para fornecer uma maneira
                    barata e fácil para hobby, estudantes e profissionais criarem dispositivos que interagem com o ambiente usando sensores
                    e atuadores. (LOUIS, 2016, pag. 21, tradução nossa). McRoberts (2011) afirma que o Arduino pode ser usado para
                    desenvolver objetos interativos independentes ou ser conectado a um computador, a uma rede ou até mesmo a internet
                    para recuperar e enviar dados do Arduino e trabalhar com eles, por exemplo enviar um conjunto de dados recebidos de
                    sensores para um site ou aplicação, para serem exibidos no formato de um gráfico.
                </p>

                <div class="container-code" style="width: 100%">
                <div class="code-wrapper">
                    <div class="language">
                        <p>Main.java</p>
                    </div>
                <pre>
                    <code id="code" class="language-java">
    @GetMapping("/")
    public ModelAndView home() {
        ModelAndView mv = new ModelAndView("index");
        mv.addObject("student", studentService.getStudentById(1L).get());
        return mv;
    }
                    </code>
                </pre>
                    <button id="copy-button">COPY</button>
                    <span id="copy-success">code copied</span>
                </div>
                </div>

                <p>
                    A plataforma utiliza-se de uma camada simples de software implementada na placa, que é um bootloader, e uma
                    interface amigável no computador que utiliza a linguagem Processing, baseada na linguagem C/C++, a qual é também
                    open source. Neste ambiente de desenvolvimento, são disponibilizadas bibliotecas que permitem o interfaceamento com
                    outros dispositivos de hardware, permitindo o completo desenvolvimento de aplicações simples ou complexas em
                    qualquer área. (SOUZA et. al., 2011, p.2).
                </p>

                <p>
                    A plataforma Arduino possui uma Interface de Desenvolvimento - IDE multiplataforma, isto é, há a possibilidade
                    de utilizar a IDE com sistemas operacionais distintos, como, Windows, Linux, Mac OS. Esta característica facilita o
                    desenvolvimento dos algoritmos, podendo ser escritos, alterados e enviados ao Arduino de qualquer Sistema Operacional
                    suportado (MARCHESAN, 2012 p. 31).
                </p>

                <p>
                    Segundo Evans et al. (2013), existem várias versões do Arduino, porém todas baseadas na tecnologia Atmel
                    AVR. Ele é um microcontrolador RISC de chip único com uma arquitetura Harvard modificada de 8-bits, desenvolvido
                    em 1996 pela Atmel (SOUZA; 2014).A primeira placa foi baseada no ATmega8 rodando a uma velocidade de clock de 16
                    MHz com 8 KB de memória flash; mais tarde placas como o Arduino NG plus e o Diecimila foram equipadas com o
                    ATmega168 e 16 KB de memória flash. As versões mais recentes do Arduino, Duemilanove e Uno, usam o ATmega328
                    têm 32 KB de memória flash. Para projetos que exigem mais E/S e memória, há o Arduino Mega1280 com 128 KB de
                    memória e o Arduino Mega2560 com 256 KB de memória. O Mega oferece uma funcionalidade de entrada-saída
                    significativamente maior em comparação com o Arduino padrão, então com o aumento da memória, é ideal para projetos
                    maiores, que controlam muitos LEDs, possuem um grande número de entradas e saídas, ou precisam mais de uma porta
                    serial de hardware. As placas têm 54 pinos de entrada-saída digitais, 14 dos quais podem fornecer saída analógica PWM,
                    e 16 analógicos pinos de entrada (Figura 2).
                </p>

            </div>

            <!-- google adds -->
            <div class="col-md-3">
                <div class="col-12" style="margin-bottom: 15%">
                    <a th:if= "${article.sourceCode != ''}" th:href="${article.sourceCode}" target="_blank"
                       class="btn btn-dark" style="margin-right:1%; margin-left:2%">
                        <i class="bi bi-github" style="margin-right:7px;"></i>Go to Repo
                    </a>
                    <a  th:if= "${article.liveLink != ''}" th:href="${article.liveLink}" target="_blank"
                       class="btn btn-success" style="margin-right:1%; margin-left:1%">
                        <i class="bi bi-hand-index-thumb" style="margin-right:7px;"></i>Test it Run</a>
                </div>

            </div>
        </div>

        <!-- youtube video -->
        <div class="" style="margin-top:2%;" th:if= "${article.youtubeLink != ''}">
            <iframe width="820" height="415" th:src="${article.youtubeLink}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div style="margin-top:5%; margin-bottom:1px">
            <hr>
        </div>

        <div class="row" style="margin-top:2%;">

            <div class="row">
                <div class="col-1">
                    <a th:href="@{/like/{fileName}(fileName=${article.fileName})}" class="like cursor">
                        <i class="fa fa-thumbs-o-up" style="font-size:20px; margin-right:3px;"></i>Like</a>
                </div>

                <div class="col-2 like cursor">
                    <a href="#" class="like cursor">
                        <i class="fa-regular fa-comment" style="font-size:20px; margin-right:3px;"></i>Comment</a>
                </div>
            </div>


            <!-- comments seccion -->
            <div class="container mt-5">
                <div class="d-flex justify-content-center row">
                        <div class="d-flex flex-column comment-section">

                            <div>
                                <form action="#" th:action="@{/post-comment}" method="post" th:object="${comment}">
                                    <div class="d-flex flex-row align-items-start">
                                        <img class="rounded-circle mr-2" src="../img/avatar.png" width="40" height="40" style="margin-right:1%;">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control" name="author" placeholder="Name" th:value="${comment.author}">
                                                    <input type="hidden" name="article_id" th:value="${article.id}">
                                                    <p th:if= "${errorCommentAuthor != ''}" th:text="${errorCommentAuthor}" style="color: red;"></p>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md">
                                                    <textarea class="form-control shadow-none textarea" name="review" th:inline="text">[[${comment.review}]]</textarea>
                                                    <p th:if= "${errorCommentTextArea != ''}" th:text="${errorCommentTextArea}" style="color: red;"></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                            <div class="mt-1 text-right">
                                                <button class="btn btn-primary mb-2" type="submit" >Post comment</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="p-2">
                                <div th:if="${!comments.empty}">
                                <tr th:each = "comment: ${comments}">
                                <div class="bg-white" style="padding-bottom:15px; " >
                                    <div class="d-flex flex-row user-info" >
                                        <img class="rounded-circle mr-2" src="../img/avatar.png" width="40" height="40" style="margin-right:1%;">
                                        <div class="d-flex flex-column justify-content-start ml-2" style="background-color:
                                        #DCDCDC; border: 1px solid Gainsboro;  padding: 10px;  border-radius: 15px;">
                                            <span class="d-block font-weight-bold name" style="margin:5px;"><b th:text="${comment.author}"> </b></span>
                                            <span class="date text-black-50" style="margin-left:5px; margin-right:5px;" th:text="${comment.formateDate}"></span>
                                            <div class="">
                                                <p class="comment-text" style="margin:5px;" th:text="${comment.review}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </tr>
                                </div>

                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-column" style="background-color:#26272b;">
    </div>
    <hr>
    </div>
    <div class="container" style="text-align:center; margin-top:2%; margin-bottom:2px;">
        <section class="text-center">
            <!--
            <form action="#" th:action="@{/subscribe}" method="post" th:object="${subscriber}">
                <input type="email" name="email" placeholder="Enter Your Email" style="width: 250px">
                <button type="submit" class="btn btn-danger">Subscribe  <i class="fa fa-envelope"></i></button>
            </form>
            <span class="mt-3" th:text="${mensagem}" style=" font-color:#FFFFFF; "></span>
            -->
        </section>
    </div>
    <div class="container" style="text-align:center">
        <div class="text-center" style="text-align:center; margin-top:2%;">
            <H5 class="copyright-text" style="margin-bottom:1%; color: white;">THANKS FOR VISITING</H5>
            <img src="../img/coracao.png">
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<script src="/js/copy-code.js"></script>

<!-- share on social networks -->
<script  th:inline="javascript">
    var params = "menubar=no,toolbar=no,status=no,width=570,height=570";
    var url = [[${article.url}]];

    var text = [[${article.title}]];
    var hash_tags = "java,milsondev,springboot,programming";

    var facebook = document.querySelector('.facebook');
    var twitter = document.querySelector('.twitter');
    var copyLink = document.querySelector('.copyLink');
    var whatsapp = document.querySelector('.whatsapp');
    var linkedin = document.querySelector('.linkedin');

    //facebook
    facebook.addEventListener('click', function(ev) {
        let shareUrl = `http://www.facebook.com/sharer/sharer.php?u=${url}`;
        window.open(shareUrl,"NewWindow" , params);
    });

    //twitter
    twitter.addEventListener('click', function(ev) {
        let shareUrl = `https://twitter.com/intent/tweet?url=${url}&text=${text}&hashtags=${hash_tags}`;
        window.open(shareUrl,"NewWindow" , params);
    });

    //linkedin
    linkedin.addEventListener('click', function(ev) {
        let shareUrl = `https://www.linkedin.com/sharing/share-offsite/?url=${url}&title=${text}`;
        window.open(shareUrl,"NewWindow" , params);
    });

    //whatsapp
    whatsapp.addEventListener('click', function(ev) {
        let shareUrl = `https://api.whatsapp.com/send?&text=${url}`;
        window.open(shareUrl,"NewWindow" , params);
    });

    //copyLink
    copyLink.addEventListener('click', function(ev) {
        var text = [[${article.url}]];
        var input = document.createElement('input');
            input.setAttribute('value', text);
            document.body.appendChild(input);
            input.select();
            var result = document.execCommand('copy');
            document.body.removeChild(input);
        return result;
    });
</script>

<!-- tooltip -->
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
</script>

<!--
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
-->
<script src="/js/prism.js"></script>

</body>

</html>