<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.0/css/all.css} "/>

    <link th:href="@{/styles/imagemalogoefect.css}" rel="stylesheet" />

    <link th:href="@{/styles/navbar.css}" rel="stylesheet" />

    <link th:href="@{/styles/articlecards.css}" rel="stylesheet" />

    <script type="text/javascript" th:src="@{/js/typewritereffect.js}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8900699534475025"
            crossorigin="anonymous"></script>

    <!-- Include Bootstrap CSS and Javascript Files
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    -->

</head>
<body>

<!-- style="padding-left: 15%" -->

<!-- init nav-bar-->

<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" style="background-color: #737373">
    <div class="container">
        <!-- init ma-log -->
        <div class="container" style="padding-left: 15%">
            <div class="hover01 column">
                <a class="navbar-brand js-scroll" href="/">
                    <figure>
                        <img src="../img/ma-logo.png">
                    </figure>
                </a>
            </div>
        </div>
        <!-- end ma-log -->

        <div class="navbar-collapse collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll active" href="/" style="font-weight: bold; font-size: 110%;">HOME</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- init flag language  -->
    <div class="languages" style="padding-right: 1%; padding-left: 10%;">
        <div class="flag-deutsch">
            <a href="#home">
                <img src="../img/deutsch.png">
            </a>
        </div>
        <div class="flag-usa">
            <a href="#home">
                <img src="../img/usa.png">
            </a>
        </div>
    </div>
    <!-- end of flag language -->
</nav>
<!-- end nav-bar-->


<!-- content here -->
<section id="content" style="padding-top:14%; ">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <h1 th:text="${title}"></h1>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-1">
                        <img src="../img/milson.png" width= "100" height="100"; style="border-radius: 50%; border:1px groove #545565;">
                </div>

                <div class="col-sm-6 col-md-7" style="margin-top:1%; margin-left:1%; margin-bottom:2%">
                    <small>By <a href="#" th:text="${author}"></a> </small>
                   <div class="">
                       <small>Viewed: <span th:text="${viewed}" style=" font-weight: bold; "></span>
                           | Last updated: <span th:text="${createdUpdateOn}" style=" font-weight: bold; "></span>
                       </small>
                   </div>

                        <small class="">Tags:
                        <tr th:each="tag : ${listTag}">
                            <a href="#" th:text="${tag}" style="margin-right:2%;" >
                            </a>
                        </tr>
                    </small>
                </div>
            </div>
        </div>
        <hr>
    </div>




</section>
<!-- content end here -->




<footer class="site-footer fixed-bottom" style="background-color:#26272b; position: fixed; width: 100%; margin-bottom: 0px;">
    </div>
    <hr>
    </div>
    <div class="container" style="text-align:center">
        <div class="text-center" style="text-align:center; margin-top:4%; margin-bottom:2%">
            <H6 class="copyright-text">Thanks for visiting - Milson</H6>
            <img src="../img/coracao.png">
        </div>
    </div>
</footer>

<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>





</body>